<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{beerName}}</h1>
    <p class="beer-details" *ngIf="beerDetails">
      {{beerDetails?.manufacturer}}
    </p>
  </div>
</div>

<div class="container">
  <br>
  <div id="topbarschart"></div>
</div>

<div class="container">
  <br>
  <div id="topdrinkerschart"></div>
</div>

<div class="container">
  <br>
  <div id="busiesttimeschart"></div>
</div>

<div class="container">
  <br>
  <div id="busiestdayschart"></div>
</div>
