<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Bar Beer Drinker!</h1>
    <p class="lead">This is database of bars, beers, and drinkers.</p>
  </div>
</div>
<div class="container">
  <h1 class=" display-4 text-center">Bars</h1>
  <p-table [value]="bars">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>State</th>
            <th>City</th>
            <th>Address</th>
            <th>Phone</th>
            <th>License</th>
            <th>Opening Time</th>
            <th>Closing Time</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bar>
        <tr>
          <td><a routerLink="/bar/{{bar.name}}">{{bar.name}}</a></td>
          <td>{{bar.state}}</td>
          <td>{{bar.city}}</td>
          <td>{{bar.address}}</td>
          <td>{{bar.phone}}</td>
          <td>{{bar.license}}</td>
          <td>{{bar.openTime}}</td>
          <td>{{bar.closeTime}}</td>
        </tr>
    </ng-template>
  </p-table>
</div>

<br/>
