<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{barName}}</h1>
    <p class="bar-details" *ngIf="barDetails">
      {{barDetails?.address}} <span *ngIf="barDetails.address && barDetails.city">|</span>
      {{barDetails?.city}} <span>|</span> {{barDetails?.state}}
      <br/>
      {{barDetails?.phone}}
      <br/>
      Bar License: {{barDetails?.license}}
      <br/>
      {{barDetails?.openTime}} - {{barDetails?.closeTime}}
    </p>
  </div>
</div>

<div class="container">
  <br>
  <div id="topspenderschart"></div>
</div>

<div class="container">
  <br>
  <div id="topbeerschart"></div>
</div>

<div class="container">
  <br>
  <div id="topmanfschart"></div>
</div>

<div class="container">
  <br>
  <div id="busiesttimeschart"></div>
</div>

<div class="container">
  <br>
  <div id="busiestdayschart"></div>
</div>
