<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{barName}}</h1>
    <p class="bar-details" *ngIf="barDetails">
      {{barDetails?.address}} <span *ngIf="barDetails.address && barDetails.city">|</span>
      {{barDetails?.city}} <span>|</span> {{barDetails?.state}}
      <br/>
      {{barDetails?.phone}}
      <br/>
      Bar License: {{barDetails?.license}}
      <br/>
      {{barDetails?.openTime}} - {{barDetails?.closeTime}}
    </p>
  </div>
</div>

<div class="container">
  <br>
  <div id="topspenderschart"></div>
</div>

<div class="container">
  <br>
  <div id="topbeerschart"></div>
</div>

<div class="container">
  <br>
  <div id="topmanfschart"></div>
</div>

<div class="container">
  <br>
  <div id="busiesttimeschart"></div>
</div>

<div class="container">
  <br>
  <div id="busiestdayschart"></div>
</div>

<div class="container text-center">
  <h1 class="display-4 text-center">Add A Transaction To This Bar</h1>
  <p-dropdown [options]="potentialdrinkers" [(ngModel)]="selectedDrinker" placeholder="Select a Drinker" optionLabel="name" [showClear]="true"></p-dropdown>
  <br/>
  <br/>

  <div class="lead">
    <span>Make a selection of beers and food</span>
    <li *ngFor="let item of sells; index as i" class="list-unstyled">
      {{item.item}} (${{item.price.toFixed(2)}})
      <br/>
      <p-spinner size="30" [(ngModel)]="itemcounts && itemcounts[i]" [min]="0" [placeholder]="0"></p-spinner>
      <br/>
    </li>
    <br/>
    Total Charge: ${{totalCharge().toFixed(2)}}
  </div>
  <br/>
  <p-dropdown [options]="tips" [(ngModel)]="selectedTip" placeholder="Select a tip %" optionLabel="name" [showClear]="true"></p-dropdown>
  <br/>
  <br/>
  <span class="lead">Select a date and time (within open hours)</span>
  <br/>
  <p-calendar [(ngModel)]="selectedDate" [inline]="true" [showTime]="true" [style]="{display: inline-block}"></p-calendar>
  <br/>
  <br/>
  <button pButton type="button" [disabled]="!selectedDrinker || !selectedTip || !selectedDate || totalCharge() == 0 || !isTimeValid()" class="ui-button-secondary" label="Add Transaction" (click)="addTransaction()"></button>
</div>
<br/>
